<nav class="navbar navbar-expand-lg" style="background-color:#fc8019;">
    <a class="navbar-brand" href="#">Zomato</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav> <!-- Navbar Ends -->


<div>
    <form  [formGroup]="profileLogin" (ngSubmit)="loginSubmit()">
        <div>
            <h2>Login Form</h2>
            <label> Username
                <input type="text"class="username" matInput [formControl]="username">
                <div *ngIf="username.invalid && (username.dirty ||  username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors.required" class="check">  User name is required.</div>
                </div>
            </label>
        <br>
            <label> Password
                <input type="password"class="password" matInput [formControl]="password">
                <div *ngIf="password.invalid && (password.dirty ||  password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required"  class="check"> Password is required. </div>
                </div>
            </label>
        </div>
        <br>
        <br>
        <br>
        <button type="submit" class="submit"   [disabled]='!profileLogin.valid' mat-button><strong>Submit</strong></button>     
    </form>
</div>
<strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>

