img {
    width:500px;
    height:400px;
    margin: auto;
}
.aa {
    margin-right: 30px;
    background-color: black;
    border-radius: 10px;
    color:whitesmoke;
    border-radius: 1px solid black;
    border: 1px solid black;

}
.navbar-brand{ 
    color:wheat;
}
.nav-link {
    color:black;
}